.f{
    display: flex;
}
.mb1{
    margin-bottom: 1%;
}
.mb2{
    margin-bottom: 5px;
}
.lf{
    height: 158px;
    min-width: 193px;
    padding-left: 20px;
}
.mw195{
    min-width: 195px;
}
.p05{
    padding: 0 50px;
}
.min1000{
    min-width: 1000px;
}
.badge{
    width: 36px;
    margin: 2px 12px;
}
.UInfo{
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 5px;
    height: 85px;
    padding-top: 5px;
    min-width: 191px;
}