.f{
    display: flex;
}
.mb1{
    margin-bottom: 1%;
}
.mb2{
    margin-bottom: 5px;
}
.lf{
    height: 158px;
    min-width: 193px;
    padding-left: 20px;
}
.w60{
    width: 60px;
    height: 118px;
    padding: 1%;
}
.mw195{
    min-width: 195px;
}
.p05{
    padding: 0 50px;
}