.sbar{
    display: flex;
    border-right: 1px solid #e0e0e0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: -webkit-fill-available;
    position: absolute;
}
.stitle {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;;
    color: white;
  }
  .sidebarTemplate {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
  }
  .block {
      display: inline;
  }